@model TaxDeclaration
@using TaxManagementNew.Models

<section className='w-full h-full'>
    <div className='max-w-[1200px] mx-auto  my-20'>
            <div class="border-2 my-2 flex items-center justify-between border-solid border-black py-2">
                <div class="text-[16px] p-4 font-medium">
                    Employee ID: <span class="p-2">@ViewBag.EmpId</span>
                </div>
                <div class="text-[16px] p-4 font-medium">
                    Employee Name: <span class="p-2">@ViewBag.Name</span>
                </div>
                <div class="text-[16px] p-4 font-medium">
                    Financial Year: <span class="p-2">@ViewBag.FinancialYear</span>
                </div>
            </div>
        <form method="post" id="taxForm" asp-action="ProcessTaxForm">
            <div class="border-2 border-solid border-black">
                <input type="hidden" asp-for="EmpId" value="@ViewBag.EmpId" />
                <input type="hidden" asp-for="FinancialYear" value="@ViewBag.FinancialYear" />
                <div class="ml-2 flex items-center py-2">
                    <div class="w-[70%] py-1">
                        <label asp-for="AnyOtherIncome" class="text-[14px]">1.) Any other income (interest from property, rental income, etc.)</label>
                    </div>
                    <div class="w-[25%]">
                        <input asp-for="AnyOtherIncome" class="w-[100%] border-2 text-[14px] border-solid border-black px-2 py-1 outline-none">
                        <span asp-validation-for="AnyOtherIncome" class="text-danger"></span>
                    </div>
                </div>
                <div className=''>
                    <h4 className='text-[14px] py-2 ml-2'>
                        2.)Investment under Section 80C
                    </h4>
                    <div className='py-2 ml-3'>
                        <div class="ml-2 flex items-center py-2">
                            <div class="w-[70%] py-1">
                                <label asp-for="SukanyaSamriddhiAccount" class="text-[14px]"> a.) Sukanya Samriddhi Account</label>
                            </div>
                            <div class="w-[25%]">
                                <input asp-for="SukanyaSamriddhiAccount" class="w-[100%] border-2 text-[14px] border-solid border-black px-2 py-1 outline-none">
                                <span asp-validation-for="SukanyaSamriddhiAccount" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="ml-2 flex items-center py-2">
                            <div class="w-[70%] py-1">
                                <label asp-for="PPF" class="text-[14px]"> b.) PPF/NSC</label>
                            </div>
                            <div class="w-[25%]">
                                <input asp-for="PPF" class="w-[100%] border-2 text-[14px] border-solid border-black px-2 py-1 outline-none">
                                <span asp-validation-for="PPF" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="ml-2 flex items-center py-2">
                            <div class="w-[70%] py-1">
                                <label asp-for="LifeInsurancePremium" class="text-[14px]"> c.) Life Insurance Premium</label>
                            </div>
                            <div class="w-[25%]">
                                <input asp-for="LifeInsurancePremium" class="w-[100%] border-2 text-[14px] border-solid border-black px-2 py-1 outline-none">
                                <span asp-validation-for="LifeInsurancePremium" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="ml-2 flex items-center py-2">
                            <div class="w-[70%] py-1">
                                <label asp-for="TuitionFee" class="text-[14px]">  d.) Tuition fee for child</label>
                            </div>
                            <div class="w-[25%]">
                                <input asp-for="TuitionFee" class="w-[100%] border-2 text-[14px] border-solid border-black px-2 py-1 outline-none">
                                <span asp-validation-for="TuitionFee" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="ml-2 flex items-center py-2">
                            <div class="w-[70%] py-1">
                                <label asp-for="BankFixedDeposit" class="text-[14px]">  e.) Bank Fixed Deposits/NSC (in Five Years)</label>
                            </div>
                            <div class="w-[25%]">
                                <input asp-for="BankFixedDeposit" class="w-[100%] border-2 text-[14px] border-solid border-black px-2 py-1 outline-none">
                                <span asp-validation-for="BankFixedDeposit" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="ml-2 flex items-center py-2">
                            <div class="w-[70%] py-1">
                                <label asp-for="NPS" class="text-[14px]">g.) National Pension Scheme 80CCD (1B) (Limit 50k)</label>
                            </div>
                            <div class="w-[25%]">
                                <input asp-for="NPS" class="w-[100%] border-2 text-[14px] border-solid border-black px-2 py-1 outline-none">
                                <span asp-validation-for="NPS" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="ml-2 flex items-center py-2">
                            <div class="w-[70%] py-1">
                                <label asp-for="PrincipalHousingLoan" class="text-[14px]">f.) Principal amount of housing loan paid during the year</label>
                            </div>
                            <div class="w-[25%]">
                                <input asp-for="PrincipalHousingLoan" class="w-[100%] border-2 text-[14px] border-solid border-black px-2 py-1 outline-none">
                                <span asp-validation-for="PrincipalHousingLoan" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ml-2 flex items-center py-2">
                    <div class="w-[70%] py-1">
                        <label asp-for="HigherEducationLoanInterest" class="text-[14px]"> 3.) Higher Education Loan interest via EDE</label>
                    </div>
                    <div class="w-[25%]">
                        <input asp-for="HigherEducationLoanInterest" class="w-[100%] border-2 text-[14px] border-solid border-black px-2 py-1 outline-none">
                        <span asp-validation-for="HigherEducationLoanInterest" class="text-danger"></span>
                    </div>
                </div>
                <div class="ml-2 flex items-center py-2">
                    <div class="w-[70%] py-1">
                        <label asp-for="InterestHousingLoan" class="text-[14px]">4.)Interest paid on Housing Loan via 24</label>
                    </div>
                    <div class="w-[25%]">
                        <input asp-for="InterestHousingLoan" class="w-[100%] border-2 text-[14px] border-solid border-black px-2 py-1 outline-none">
                        <span asp-validation-for="InterestHousingLoan" class="text-danger"></span>
                    </div>
                </div>
                <div class="ml-2 flex items-center py-2">
                    <div class="w-[70%] py-1">
                        <label asp-for="HouseRent" class="text-[14px]">
                            5.) House Rent paid (every month/For above amt Rs 8333/-PM)
                            (part of amount liable to provide)
                        </label>
                    </div>
                    <div class="w-[25%]">
                        <input asp-for="HouseRent" class="w-[100%] border-2 text-[14px] border-solid border-black px-2 py-1 outline-none">
                        <span asp-validation-for="HouseRent" class="text-danger"></span>
                    </div>
                </div>
                <div class="ml-2 flex items-center py-2">
                    <div class="w-[70%] py-1">
                        <label asp-for="TDS" class="text-[14px]">  6.) Tax Deducted at Source by the previous employer at TCS</label>
                    </div>
                    <div class="w-[25%]">
                        <input asp-for="TDS" class="w-[100%] border-2 text-[14px] border-solid border-black px-2 py-1 outline-none">
                        <span asp-validation-for="TDS" class="text-danger"></span>
                    </div>
                </div>
                <div class="ml-2 flex items-center py-2">
                    <div class="w-[70%] py-1">
                        <label asp-for="MediClaim" class="text-[14px]"> 7.) Health insurance policy - Premium (RS 25,000)</label>
                    </div>
                    <div class="w-[25%]">
                        <input asp-for="MediClaim" class="w-[100%] border-2 text-[14px] border-solid border-black px-2 py-1 outline-none">
                        <span asp-validation-for="MediClaim" class="text-danger"></span>
                    </div>
                </div>
                <div class="ml-2 flex items-center py-2">
                    <div class="w-[70%] py-1">
                        <label asp-for="PreventiveHealthCheckUp" class="text-[14px]">8.)Preventive Health check-up for Self & Family (80D) (Limit 5k)</label>
                    </div>
                    <div class="w-[25%]">
                        <input asp-for="PreventiveHealthCheckUp" class="w-[100%] border-2 text-[14px] border-solid border-black px-2 py-1 outline-none">
                        <span asp-validation-for="PreventiveHealthCheckUp" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <div class="text-[1.4rem] mt-2 py-2 text-left font-medium">
                    <h1>Reimbursement Component</h1>
                </div>
                <div class="border-2 flex flex-col border-solid border-black py-4">
                    <div class="flex py-1">
                        <div class="w-[70%]">
                            <label asp-for="LTA" class="leading-7 p-2 text-sm">LTA (Do you want LTA as a Reimbursement)</label>
                        </div>
                        <div class="flex items-center justify-center">
                            <input asp-for="LTA" class="h-[20px] w-[20px]">
                            <span asp-validation-for="LTA" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my-2 flex justify-between">
                <div class="text-[16px] p-4 font-medium">
                    Staff No: <span class="p-2">@ViewBag.EmpId</span>
                </div>
                <div class="text-[16px] p-4 font-medium">
                    Name of the Staff: <span class="p-2">@ViewBag.Name</span>
                </div>
                <div class="text-[16px] p-4 font-medium">
                    PAN No: <span class="p-2">@ViewBag.PanNo</span>
                </div>
                <div class="text-[16px] p-4 font-medium">
                    Address: <span class="p-2">@ViewBag.Address</span>
                </div>
            </div>
            <div class="w-[50%] mx-auto mb-20 flex justify-end gap-5 py-2">
                <button type="submit" name="action" value="save"
                        class="w-[100%] h-[45px] text-[16px] flex cursor-pointer items-center justify-center rounded bg-green-400 p-4 font-medium">
                    Save
                </button>
                <button type="submit" name="action" value="submit"
                        class="w-[100%] h-[45px] text-[16px] flex cursor-pointer items-center justify-center rounded bg-green-400 p-4 font-medium">
                    Submit
                </button>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
