
<section className='w-full h-full mb-20'>
    <div className='max-w-[1200px] mx-auto  my-2'>
        <form asp-action="ShowTaxForm" method="get">
            <div class="w-[60%] mx-auto my-10 flex flex-col justify-center">
                <div class="w-[100%]">
                    <label for="financial-year" class="leading-7 text-sm">Financial Year</label>
                    <select id="financial-year" name="FinancialYear" class="h-[40px] text-[14px] mt-1 w-full bg-blue-50 px-3 py-1 outline-none">
                        <option value="@DateTime.Parse(DateTime.Now.ToString()).Year">@DateTime.Parse(DateTime.Now.ToString()).Year</option>
                        <option value="@(@DateTime.Parse(DateTime.Now.ToString()).Year-1)">  @(@DateTime.Parse(DateTime.Now.ToString()).Year - 1)</option>
                        <option value="@(@DateTime.Parse(DateTime.Now.ToString()).Year-2)">  @(@DateTime.Parse(DateTime.Now.ToString()).Year - 2)</option>
                        <option value="@(@DateTime.Parse(DateTime.Now.ToString()).Year -3)"> @(@DateTime.Parse(DateTime.Now.ToString()).Year - 3)</option>
                        <option value="@(@DateTime.Parse(DateTime.Now.ToString()).Year - 4)">@(@DateTime.Parse(DateTime.Now.ToString()).Year - 4)</option>
                        <option value="@(@DateTime.Parse(DateTime.Now.ToString()).Year - 5)">@(@DateTime.Parse(DateTime.Now.ToString()).Year - 5)</option>
                    </select>
                </div>
                <div class="w-[100%] mt-5 flex items-center justify-center">
                    <button type="submit"
                            class="rounded bg-blue-500 px-6 py-3 text-white">
                        Next
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>


